body {
    background-color: hsl(212, 45%, 89%);

}

img {
    width: 15rem;
    height: 15rem;
    border-radius: 5%;
    margin: 10px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  

.box {

    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: auto;
    border-radius: 5%;
    font-size: 1rem;
}


.desc {
    color: hsl(220, 15%, 55%);
    
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.hed {
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    
}